page-offers {
    .offers-img img {
        height: 80px !important; 
        padding-right: 0px !important;
       }
       ion-content.offers.content {
           background-color: #ecf0f5 !important;
       }
       .scroll-content {
           margin-top: 70px !important;
           padding: 0 !important;
       }
       .card {
           box-shadow : none !important;
           margin-top: 10px !important;
           margin:0px !important;
           width: 100% !important;
       }
       .offers .item p {
           line-height: 1.5;
       }
       .offers hr {
           margin-left: 0 !important;
           margin-right: 0 !important;
           background-color: #c8c7cc !important;
       }
       .buttons p {
           color: #ea560c;
           text-align: center;
       }
       .card p {
        margin: 10px 14px 10px;
       }
}
