page-address {
    .fa {
        float: right;
        color: lightgray;
    }
     button.item-ios:not([detail-none]) .item-inner {
         .fa {
             display: none;
         }
     }
     i.fa-plus{
        display: inline-block;
        border-radius: 60px;
        padding: 0.1em 0.2em;
        border: 2px solid #4eb950;   
        color: #4eb950;  
    }
    .item {
        font-size: 2.0rem;
        color: #4eb950;
    }
    p {
        -webkit-margin-before: 0.5em;
        -webkit-margin-after: 0.5em;
        color: gray;
    }
    .icon-p {
        text-align: right;
        margin-top: -25px;
    }
    ion-icon {
        font-size: 1.8em !important;
    }
    .radio .radio-icon {
        top: -45px !important;
    }
    .card {
        box-shadow : none !important;
        margin-top: 10px !important;
        margin:0px !important;
        width: 100% !important;
    }
    ion-content.delivery.content {
        background-color: #ecf0f5 !important;
    }
    .address hr {
        margin-left: 0 !important;
        margin-right: 0 !important;
        background-color: #c8c7cc !important;
    }
    .buttons p {
        color: #427feb;
        text-align: center;
    }
    ion-content.address.content {
        background-color: #ecf0f5 !important;
    }
    .scroll-content {
        margin-top: 70px !important;
        padding: 0 !important;
    }
}
